<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ThwargZone.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ThwargZone.Properties.Settings>
      <setting name="ACLocation" serializeAs="String">
        <value>C:\Turbine\Asheron's Call\acclient.exe</value>
      </setting>
      <setting name="UserAccount" serializeAs="String">
        <value>ZoneLaunchTest</value>
      </setting>
      <setting name="UserPassword" serializeAs="String">
        <value>ZoneLaunchTestPass</value>
      </setting>
      <setting name="ServerPath" serializeAs="String">
        <value>play.coldeve.ac:9000</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerDescription" serializeAs="String">
        <value />
      </setting>
      <setting name="InjectDecal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerType" serializeAs="String">
        <value>PvE</value>
      </setting>
      <setting name="RememberServerSelection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DecalInjectLocation" serializeAs="String">
        <value />
      </setting>
    </ThwargZone.Properties.Settings>
  </userSettings>
</configuration>